.form {
  border: 1px solid lightgray;
  border-radius: 14px;
  width: 60vw;
}

.form-title {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
}

.form-title > div:nth-child(1) {
  width: 80%;
}

.form-title > div:nth-child(1) h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}

.form-title > div:nth-child(1) p {
  margin: 0;
}

.form-cell {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1rem 4rem;
}

.form-cell--flex-row {
  display: flex;
  align-items: center;
  width: 60%;
  padding: 1rem 4rem;
}

.form-cell--flex-row > label {
  padding: 0 2rem;
}

.image-input {
  position: relative;
  width: 100px;
  height: 100px;
}

.image-input:hover {
  cursor: pointer;
}

.image-input-overlay {
  visibility: hidden;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .15);
  z-index: 100;
}

.image-input:hover > .image-input-overlay {
  visibility: visible;
}

.form-cell__input {
  height: 2rem;
  border: 1px gray solid;
  border-radius: 14px;
  outline: none;
  font-size: 1.2rem;
  padding: 1.5rem 1rem;
  margin: .5rem 0;
  width: 100%;
  resize: none;  
}

.form-cell__input[type='tel']:invalid {
  border: 1px red solid;
}

.form-cell__input[type='tel']:valid {
  border: 1px green solid;
}

textarea.form-cell__input {
  height: auto;
}

.form-cell__input:focus {
  border: 1px #2F80ED solid;
}

.form-cell__input + span {
  color: red;
}