.form {
  border: 1px solid lightgray;
  border-radius: 14px;
  width: 60vw;
}

.form__title {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
}

.form__title > div:nth-child(1) {
  width: 80%;
}

.form__title > div:nth-child(1) h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
}

.form__title > div:nth-child(1) p {
  margin: 0;
}

.edit-btn {
  display: inline-block;
  border: 2px solid lightgray;
  border-radius: 14px;
  padding: .75rem 3rem;
  background-color: transparent;
  color: gray;
}

.edit-btn:hover {
  cursor: pointer;
  background-color: lightgray;
  color: white;
}

.form__cell {
  display: flex;
  align-items: center;
  border-top: 1px solid lightgray;
  width: 100%;
}

.form__cell-title {
  width: 30%;
  padding: 2rem 4rem;
  color: gray;
}

.form__cell-info {
  width: 70%;
  padding: .25rem 1rem;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}